/* Google Fonts - Poppins and Cursive */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&display=swap');

/*
font-family: 'Dancing Script', cursive;

font-family: 'Poppins', sans-serif;
*/

body::before {
    display: block;
    content: '';
    height: 60px;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

footer {
  bottom: 0;
  width: 100%;
}